<footer>
    <div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">
        <p>&copy; 2025 Chilahati Archive. All rights reserved.</p>
        <div style="text-align: center;">
            <p class="footer-credit">Brought to you by the Shopnotory
                Foundation in partnership with the community of Chilahati.</p>
            <img src="/photos/founding_group.png" alt="Founding Group Logo" class="footer-logo">
        </div>
    </div>
</footer>